

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
  background-image: url('./assets/sunset.jpg');
  background-attachment: fixed;
  /* background-position: 50%; */
  background-size:cover;
  
}